################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterviewIQ/.vs/InterviewIQ
/InterviewIQ/bin/Debug/net8.0
/InterviewIQ/obj
/InterviewIQ/appsettings.Development.json
